{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %} {{ person.name }} {% endblock %}

{% block content %}
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">{{ person.name }}</h1>
          <p class="lead">
            <i class="fas fa-industry"></i> {{person.company}}</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}"><i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'persons' %}">Persons</a>
          </li>
          <li class="breadcrumb-item active">{{ person.name }}</li>
        </ol>
      </nav>
    </div>
  </section>

  <!-- Listing -->
  <section id="listing" class="py-4">
    <div class="container">
      <a href="{% url 'persons' %}" class="btn btn-light mb-4">Back To Persons</a>
      <div class="row">
        <div class="col-md-8">
          <!-- Home Main Image -->
          <img src="{{ person.photo.url }}" alt="" class="img-main img-fluid mb-3">
          <!-- Thumbnails -->
          <div class="row mb-5 thumbs">
            {% if person.licence_photo_1 %}
            <div class="col-md-2">
              <a href="{{ person.licence_photo_1.url }}" data-lightbox="home-images">
                <img src="{{ person.licence_photo_1.url }}" alt="" class="img-fluid">
              </a>
            </div>
            {% endif %}
            {% if person.licence_photo_2 %}
            <div class="col-md-2">
              <a href="{{ person.licence_photo_2.url }}" data-lightbox="home-images">
                <img src="{{ person.licence_photo_2.url }}" alt="" class="img-fluid">
              </a>
            </div>
            {% endif %}
            {% if person.licence_photo_3 %}
            <div class="col-md-2">
              <a href="{{ person.licence_photo_3.url }}" data-lightbox="home-images">
                <img src="{{ person.licence_photo_3.url }}" alt="" class="img-fluid">
              </a>
            </div>
            {% endif %}
            {% if person.licence_photo_4 %}
            <div class="col-md-2">
              <a href="{{ person.licence_photo_4.url }}" data-lightbox="home-images">
                <img src="{{ person.licence_photo_4.url }}" alt="" class="img-fluid">
              </a>
            </div>
            {% endif %}
            {% if person.licence_photo_5 %}
            <div class="col-md-2">
              <a href="{{ person.licence_photo_5.url }}" data-lightbox="home-images">
                <img src="{{ person.licence_photo_5.url }}" alt="" class="img-fluid">
              </a>
            </div>
            {% endif %}
            {% if person.licence_photo_6 %}
            <div class="col-md-2">
              <a href="{{ person.licence_photo_6.url }}" data-lightbox="home-images">
                <img src="{{ person.licence_photo_6.url }}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <!-- 2nd row images -->
          <div class="row mb-5 thumbs">
            {% endif %}
            {% if person.licence_photo_7 %}
            <div class="col-md-2">
              <a href="{{ person.licence_photo_7.url }}" data-lightbox="home-images">
                <img src="{{ person.licence_photo_7.url }}" alt="" class="img-fluid">
              </a>
            </div>
            {% endif %}
            {% if person.licence_photo_8 %}
            <div class="col-md-2">
              <a href="{{ person.licence_photo_8.url }}" data-lightbox="home-images">
                <img src="{{ person.licence_photo_8.url }}" alt="" class="img-fluid">
              </a>
            </div>
            {% endif %}
            {% if person.licence_photo_9 %}
            <div class="col-md-2">
              <a href="{{ person.licence_photo_9.url }}" data-lightbox="home-images">
                <img src="{{ person.licence_photo_9.url }}" alt="" class="img-fluid">
              </a>
            </div>
            {% endif %}
            {% if person.licence_photo_10 %}
            <div class="col-md-2">
              <a href="{{ person.licence_photo_10.url }}" data-lightbox="home-images">
                <img src="{{ person.licence_photo_10.url }}" alt="" class="img-fluid">
              </a>
            </div>
            {% endif %}
            {% if person.licence_photo_11 %}
            <div class="col-md-2">
              <a href="{{ person.licence_photo_11.url }}" data-lightbox="home-images">
                <img src="{{ person.licence_photo_11.url }}" alt="" class="img-fluid">
              </a>
            </div>
            {% endif %}
            {% if person.licence_photo_12 %}
            <div class="col-md-2">
              <a href="{{ person.licence_photo_12.url }}" data-lightbox="home-images">
                <img src="{{ person.licence_photo_12.url }}" alt="" class="img-fluid">
              </a>
            </div>
            {% endif %}
            
          </div>



          <!-- Fields -->
          <div class="row mb-5 fields">
            <div class="col-md-6">
              <ul class="list-group list-group-flush">
                <li class="list-group-item text-secondary">
                  Name:
                  <span class="float-right">{{ person.name }}</span>
                </li>
                <li class="list-group-item text-secondary">
                  Date of birth:
                  <span class="float-right">{{person.dateofbirth}}</span>
                </li>
                <li class="list-group-item text-secondary">
                  Mobile:
                  <span class="float-right">{{person.mobile}}</span>
                </li>
                <li class="list-group-item text-secondary">
                   Blood type:
                  <span class="float-right">{{person.bloodtype}}
                  </span>
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul class="list-group list-group-flush">
                <li class="list-group-item text-secondary">
                   Company:
                  <span class="float-right">{{person.company}}</span>
                </li>
                <li class="list-group-item text-secondary">
                  Next of kin:
                  <span class="float-right">{{person.nextofkin}}
                  </span>
                </li>
                <li class="list-group-item text-secondary">
                  Next of kin Mobile:
                  <span class="float-right">{{person.nextofkin_mobile}}</span>
                </li>
                <li class="list-group-item text-secondary">
                  List date:
                  <span class="float-right">{{person.list_date}}
                  </span>
                </li>


              </ul>
            </div>
          </div>

          <!-- Description -->
          <div class="row mb-5">
            <div class="col-md-12"><h3>Comments</h3>
              {{ person.comment }}
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4">
            {% if person.person_qrcode %}
             <img class="card-img-top" src="{{ person.person_qrcode.url }}" alt="Person qr code" style="width: 300px; height: auto;">                     
            {% else %}
             <img src="{% static 'img/qr_download.png' %}" style="width: 300px; height: auto;" alt="QR Code not uploaded yet">
            {% endif %}
            
            <div class="card-body">
              <h5 class="card-title" style="text-align: center;">{{person.name}}'s QR Code</h5>
              <a href={{ person.person_qrcode.url }} download >Download QR code</a>
            </div>
          </div>
          
          <button class="btn-primary btn-block btn-lg" data-toggle="modal" data-target="#inquiryModal">Message to company</button>
        </div>
      </div>
    </div>
  </section>

  <!-- Inquiry Modal -->
  <div class="modal fade" id="inquiryModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="inquiryModalLabel">Message to company</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form action="{% url 'contact' %}" method="POST">
                {% csrf_token %}
                {% if user.is_authenticated %}
                 <input type="hidden" name="user_id" value="{{ user.id }}">
                {% else %}
                 <input type="hidden" name="user_id" value="0">
                {% endif %}
                <input type="hidden" name="company_email" value="{{ person.company.email }}">
                <input type="hidden" name="person_id" value="{{ person.id }}">
                <div class="form-group">
                  <label for="property_name" class="col-form-label">Person:</label>
                  <input type="text" name="name" class="form-control" value="{{ person.name }}" disabled>
                </div>
                <div class="form-group">
                  <label for="name" class="col-form-label">Name:</label>
                  <input type="text" name="c_name" class="form-control" {% if user.is_authenticated %} 
                   value="{{ user.first_name }} {{ user.last_name }}" {% endif %} required>
                </div>
                <div class="form-group">
                  <label for="email" class="col-form-label">Email:</label>
                  <input type="email" name="email" class="form-control" {% if user.is_authenticated %} 
                  value="{{ user.email }}" {% endif %} required>
                </div>
                <div class="form-group">
                  <label for="phone" class="col-form-label">Phone:</label>
                  <input type="text" name="phone" class="form-control">
                </div>
                <div class="form-group">
                  <label for="message" class="col-form-label">Message:</label>
                  <textarea name="message" class="form-control"></textarea>
                </div>
                <hr>
                <input type="submit" value="Send" class="btn btn-block btn-secondary">
              </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}